:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  padding: 0 10rem;
}

h2 {
  margin-top: 3rem;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 5rem;
  margin: 2rem 0;
}

mat-form-field {
  width: 20rem;
}

button {
  margin-top: 3rem;
  font-size: large;
}

@media (width < 1040px) {
  form {
    flex-direction: column;
  }
}
