:host {
  display: flex;
  align-items: start;
}

#home-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

app-filters {
  width: 17rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 2rem;
}

mat-paginator {
  height: 4rem;
}

@media (width < 700px) {
  app-filters {
    width: 13rem;
    padding-left: 1rem;
  }
}
