:host {
  display: flex;
  align-items: start;
}

app-filters {
  width: 17rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 2rem;
}

@media (width < 700px) {
  app-filters {
    width: 13rem;
    padding-left: 1rem;
  }
}
