<div id="contact-page">
  <p id="main-title">Contact Us</p>
  <p class="paragraph">
    We’d love to hear from you! Whether you have questions about our vehicles,
    services, or just want to reach out, feel free to get in touch.
  </p>

  <p class="title">Our Location</p>
  <p class="paragraph">
    <strong>Wheel Deal Headquarters</strong>
  </p>
  <p class="paragraph">1234 Auto Lane</p>
  <p class="paragraph">Drive City, DS 56789</p>

  <p class="title">Phone</p>
  <p class="paragraph">
    Give us a call at <a href="tel:+(123) 456-7890">+(123) 456-7890</a> for
    immediate assistance.
  </p>

  <p class="title">Email</p>
  <p class="paragraph">
    For general inquiries, reach us at
    <a href="mailto:contact@wheeldeal.com">contact&#64;wheeldeal.com.</a>
  </p>

  <p class="title">Business Hours</p>
  <ul class="paragraph">
    <li>Monday - Friday: 9:00 AM - 7:00 PM</li>
    <li>Saturday: 9:00 AM - 5:00 PM</li>
    <li>Sunday: Closed</li>
  </ul>
</div>
